<ul id="lists">
  <% @lists.each_with_index do |list, index| %>
    <li<%= complete?(list) %>>
      <a href="/lists/<%= index %>">
        <h2><%= list[:name] %></h2>
        <p><%= count_completed_todos(list).to_s + "/" + count_total_todos(list).to_s %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
